@import "tailwindcss";
:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Caprasimo", serif;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}
